@use 'sass:color';

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$main_theme_background: #1e325c;
$main_theme_background_lighter1: color.mix($main_theme_background, white, $weight: 80%);
$main_theme_background_lighter2: color.mix($main_theme_background, white, $weight: 50%);
$main_theme_background_lighter3: color.mix($main_theme_background, white, $weight: 20%);
$main_theme_background_lighter4: color.mix($main_theme_background, white, $weight: 10%);

$main_theme_active_color: #166de0;
$main_theme_active_color_lighter1: color.mix($main_theme_active_color, white, $weight: 80%);
$main_theme_active_color_lighter2: color.mix($main_theme_active_color, white, $weight: 50%);
$main_theme_active_color_lighter3: color.mix($main_theme_active_color, white, $weight: 20%);
$main_theme_active_color_lighter4: color.mix($main_theme_active_color, white, $weight: 10%);

$main_theme_border_color: #e0dce5;
$main_theme_border_color_darker1: color.mix($main_theme_border_color, $main_theme_background, $weight: 20%);
$main_theme_border_color_lighter1: color.mix($main_theme_border_color, white, $weight: 20%);