@use '../assets/variables' as *;

// main part

html,
body {
    padding: 0;
    margin: 0;
}

* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}


// box sizing

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// main styles

h1, h2, h3, h4, h5, h6 {
    color: $main_theme_background;
    font-weight: bold;
}